.facebook-profile {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #1c1e21;
}

.cover-photo {
  position: relative;
  width: 100%;
  height: 400px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-info {
  position: absolute;
  bottom: 35px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.profile-picture {
  width: 300px !important;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
  
}

.profile-name {
  font-size: 70px;
  font-weight: bold;
  margin: 20px;
  color:black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar {
  display: flex;
  gap: 50px;
  padding: 20px 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #1c1e21;
  font-weight: 700;
  background-color: #FEF1ED;
}

.nav-bar div:hover {
  color: salmon;
  cursor: pointer;
}

.content-section {
  display: flex;
  padding: 40px;
}

.left-column {
  width: 30%;
  padding-right: 20px;
}

.right-column {
  width: 70%;
}

.intro-box, .photos-box, .post-box, .post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.intro-box h2, .photos-box h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.photo-grid img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.photo-grid img:hover {
  border-style: solid;
  border-color: salmon;
}

.post-box textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.post-box button {
  background-color: salmon;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.post-box button:hover {
  background-color: #FFD2C7;
}

.post {
  background-color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-header img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-name {
  font-weight: bold;
}

.post-time {
  color: #606770;
  font-size: 12px;
}

.post p {
  margin-bottom: 10px;
}

.post img {
  width: 100%;
  border-radius: 6px;
}
